<mat-toolbar class="header">
    <mat-toolbar-row>
      <span class="title">
        Notice Bord
      </span>
      <div style="margin-left: auto">
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon style="font-size: 45px; margin-left: -49%; color: white"
            >account_circle</mat-icon
          >
        </button>
  
        <label
          style="
            color: white;
            margin-left: 10px;
            font-family: Roboto Regular;
            font-size: 14px;
          "
          class="filler"
          >{{username}}</label
        >
      </div>
      <div [matMenuTriggerFor]="menu" style="margin-left: 5px; margin-top: 8px">
        <mat-icon style="color: white; cursor: pointer"
          >keyboard_arrow_down</mat-icon
        >
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-menu #menu style="zoom: 100% !important">
    <!-- <button mat-menu-item routerLink="/home/profile">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button> -->
    <button mat-menu-item>
      <mat-icon>vpn_key</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
