<p style="margin-top: 2%;">
    <mat-toolbar color="primary" style="height:50px">
      <span style="font-family: Roboto Medium; font-size: 16px"
        >General Notices</span
      >
      <span class="example-spacer"></span>
      <!-- <input type="text" class="searchbar" placeholder="Search..." /> -->
    </mat-toolbar>
  </p>

  

  <p style="margin-top: 2%;">
    <mat-toolbar color="primary" style="height:50px">
      <span style="font-family: Roboto Medium; font-size: 16px"
        >My Notes</span
      >
      <span class="example-spacer"></span>
      <!-- <input type="text" class="searchbar" placeholder="Search..." /> -->
    </mat-toolbar>
  </p>