<div class="btn">
    <button mat-raised-button (click)="addClass()">
      <mat-icon>
        <i class="material-icons">add</i>
      </mat-icon>
      Add Class
    </button>
</div>

<div class="list">

  <ng-container *ngIf="{class: allClass$ | async , error:allClassError$ | async} as vm">
    <ng-container *ngIf="!vm.error && vm.class as reports; else loading">
      <ng-container *ngIf="vm.class.length > 0; else empty">
        <ng-container *ngFor="let item of vm.class">
          <mat-card style="margin: 1%;">
            <mat-card-content>
              <span>{{item.class}}</span>
              <mat-icon (click)="deleteClass(item)" style="float: right;margin:1%;">delete</mat-icon>
              <mat-icon (click)="updateClass(item)" style="float: right;margin:1%;">edit</mat-icon>
            </mat-card-content>
            <mat-card-subtitle>Created By - {{item.createdBy || ""}}</mat-card-subtitle>
          </mat-card>
        
        </ng-container>
        </ng-container>
      </ng-container>

      <mat-card *ngIf="vm.error as error">
        <mat-card-header>
          <mat-card-title>Error Occured when loading the data</mat-card-title>
        </mat-card-header>
      </mat-card>
  </ng-container>

  <ng-template #empty>
    <mat-card>
      <mat-card-header>
        <mat-card-title>No Data Found</mat-card-title>
      </mat-card-header>
    </mat-card>
  </ng-template>

  <ng-template #loading>
    <div class="center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>

